.login-screen {
  min-height: 100vh;
  background-color: #0f172a; /* Fondo oscuro del proyecto */
  color: white;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* Layout Principal */
.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex: 1;
}

/* SELECTOR DE ROL (IZQUIERDA) */
.role-selector-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border: 1px solid rgba(126, 34, 206, 0.3);
  border-radius: 20px;
  background: rgba(30, 41, 59, 0.3);
}

.role-option {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 25px;
  
  border-radius: 12px; 
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 280px;
  border: 1px solid transparent;
}

.role-option:hover {
  background: rgba(255, 255, 255, 0.15); /* Efecto gris rectangular */
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.role-option.active {
  background: rgba(37, 43, 59, 0.5); /* Morado traslúcido */
}

.role-icon-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.role-icon-bg img {
  height: 50px;
  object-fit: cover;
  align-items: center;
  justify-content: center;

}

.role-option span {
  font-size: 1.1rem;
  font-weight: 500;
}

.login-form-container {
  width: 100%;
  max-width: 480px;
  padding: 40px;
  border: 1.5px solid rgba(126, 34, 206, 0.4);
  border-radius: 25px;
  background: rgba(30, 41, 59, 0.2);
}

.login-form-card h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 35px;
  font-weight: 600;
}

.input-field {
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 14px 20px;
  background: #334155;
  border: 1px solid #475569;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}

.btn-submit {
  width: auto;
  display: block;
  margin: 30px auto 20px;
  padding: 10px 45px;
  background: #964de5; /* Morado claro como tu botón */
  color: #c3cfeb;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background: #f3e8ff;
  transform: scale(1.05);
}

.form-footer {
  text-align: center;
  font-size: 0.9rem;
}

.form-footer a {
  color: #e1d3ef;
  text-decoration: none;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  opacity: 0.8;
}